.wrapper {
  display: grid;
  max-width: 900px;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  margin-bottom: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card-container {
  margin-top: 25px;
  transition: transform ease 0.5s;
}
.card-container:hover {
  transform: scale(1.06);
}

.card-container:nth-child(4) .card-body {
  background-image: linear-gradient(315deg, rgb(29, 36, 45), rgb(50, 77, 103));
}
.card-container:nth-child(5) .card-body,
.card-container:nth-child(6) .card-body {
  background-image: linear-gradient(
    318deg,
    rgb(255, 201, 0) 100%,
    rgb(238, 177, 22) -6%
  );
}

.card-container:nth-child(5) .card-title,
.card-container:nth-child(6) .card-title {
  animation: colorChangeGnc 1.7s infinite alternate;
}

.card {
  height: 380px;
  box-shadow: 0 4px 8px rgba(43, 42, 42, 0.1);
  border-radius: 8px;
  margin: 12px;
  cursor: pointer;
  padding: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 0.5px;
  border-radius: 6px;
  padding: 0px 12px 16px 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: calc(100% - 100px);
  color: #fff;
  background-image: linear-gradient(
    135deg,
    rgb(0, 124, 224),
    rgb(32, 203, 252) 99%
  );
}

.card-body-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: 500;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  background-color: #eeb116;
  font-size: 13px;
  padding: 8px 10px;
  border-radius: 5px;
  animation: colorChangeOnline 1.7s infinite alternate;
}

.card-detail {
  font-size: 11px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-detail span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #84a6e9;
}

.card-detail span:hover {
  background-color: #2855ac;
  color: #fff;
}

.card-body-top__favori {
  font-size: 18px;
}

.card-body-top__gb {
  font-size: 32px;
  font-weight: 700;
}

.card-body-button {
  text-align: right;
  position: relative;
}

.card-body-button button {
  color: #253342;
  background-color: #fff;
  border: none;
  outline: none;
  width: 64px;
  height: 40px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.card-body-button button:hover {
  background-color: #ffee51;
  cursor: pointer;
  color: cadetblue;
}

.card-body-button__arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
  position: absolute;
  top: 47px;
  right: 21px;
}

.card-footer {
  color: #2855ac;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 700;
  margin: 12px 0;
}
.card-footer__fixed {
  font-size: 12px;
  margin: 0;
}
.card-footer__price {
  font-size: 24px;
  margin: 0;
}

.card-footer__price sup {
  font-size: 10px;
  margin-left: 3px;
}

@keyframes colorChangeOnline {
  0% {
    background-color: #ffee51;
    color: #2855ac;
  }

  100% {
    background-color: #ffc107;
    color: #fff;
  }
}
@keyframes colorChangeGnc {
  0% {
    background-color: #2855ac;
    color: #fff;
  }

  100% {
    background-color: #31b4ff;
    color: #bac0c7;
  }
}

@media (max-width: 1080px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    max-width: 650px;
  }
}
@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    max-width: 310px;
  }
}
